html,body{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(33,37,41);
}

.container nav {
  /*background-color: red;*/
}

.form-control {
  height: 40px;
}

a{
    color: #222;
}
.navbar-menu{
    box-shadow: none!important;
}
a.navbar-item:hover {
    color: #48c78e;
}
.categories {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 5px;
    box-sizing: border-box;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.categories::-webkit-scrollbar {
    display: none;
}
.box{
    padding: 10px;
    position: relative;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: 0 3px 0 rgb(0 0 0 / 5%);
    scroll-snap-align: start;
    min-width: 122px;
}
.box:hover{
    background-color: #48c78e;
}
.box img{
    max-width: 80px;
    width: auto;
    height: 56px;
    margin: 0 auto 5px;
}
.card{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 3%), 0 10px 15px rgb(0 0 0 / 2%), 0 25px 80px rgb(0 0 0 / 4%);
    transition: .25s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.card figure img{
    object-fit: cover;
}
.nav-link.mb-3 {
  background-color: white!important;
  color: black!important;
  max-height: 70px!important;
}
.nav-link.mb-3:hover {
  background-color: blue!important;
  font-weight: bold!important;
}


a img {
  
 max-width: 40px;
 object-fit: fill;
}

.card .tag-vivo{
    position: absolute;
    right:10px;
    top:3px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    background-color: rgb(85, 204, 68);
    padding: 3px;
    height: 0.5rem;
    width: 00.5rem;
}

.card .tag-muerto{
  position: absolute;
  right:10px;
  top:3px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  background-color: rgb(214, 61, 46);
  padding: 3px;
  height: 0.5rem;
  width: 00.5rem;
}

.card .tag-desconocido{
  position: absolute;
  right:10px;
  top:3px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  height: 0.5rem;
  width: 00.5rem;
}

.card .tag-sex{
  position: absolute;
  right:10px;
  bottom:3px;
  font-weight: bold;
  color: white;
}
.card .tag-fav{
  position: absolute;
  left:3px;
  top:1px;
  font-weight: bold;
  color: white;
}
.is-borderless{
    border: none;
    box-shadow: none;
}
.input:focus{
    box-shadow: none;
    outline: none;
}
.modal-box {
    background-color: #48c78e;
    padding: 20px;
    border-radius: 8px;
  }
  
  .modal-box img{
    border-radius: 8px;
    object-fit: cover;
    
  }
  
#personaje-name{
    text-transform: uppercase;
  }

.layo {
  background-color: red;
}




/* The Modal (background) */
.modal-layo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-layo{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header-layo {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body-layo {padding: 2px 16px;}
  
  .modal-footer-layo {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }